<form id ="createProductForm" action="">
    <input type="text" name="product_name" id="product_name" placeholder="product">
    <input type="text" name="price" id="price" placeholder="price">
    <input type="submit" value="Add Product">
</form>