<form id ="editProductForm" action="">
    <input type="text" value="{{product_name}}" name="product_name" id="edit_product_name" placeholder="product">
    <input type="text" value="{{price}}" name="price" id="edit_price" placeholder="price">
    <input type="hidden" name="id" value="{{id}}" id="editId">
    <input type="submit" value="Edit Product">
</form>